<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>yahoo</key>
	<dict>
		<key>foreground_color</key>
		<string>ffffff</string>
		<key>title</key>
		<string>yahoo!</string>
		<key>icon_character</key>
		<string>Y</string>
		<key>background_color</key>
		<string>a200c2</string>
		<key>selected_background_color</key>
		<string>6A0086</string>
	</dict>
	<key>linkedin</key>
	<dict>
		<key>title</key>
		<string>linkedin</string>
		<key>foreground_color</key>
		<string>ffffff</string>
		<key>icon_character</key>
		<string>L</string>
		<key>background_color</key>
		<string>0083a8</string>
		<key>selected_background_color</key>
		<string>073D51</string>
	</dict>
	<key>google-oauth2</key>
	<dict>
		<key>title</key>
		<string>google</string>
		<key>foreground_color</key>
		<string>ffffff</string>
		<key>icon_character</key>
		<string>+</string>
		<key>background_color</key>
		<string>dd4b39</string>
		<key>selected_background_color</key>
		<string>7F221C</string>
	</dict>
	<key>twitter</key>
	<dict>
		<key>title</key>
		<string>twitter</string>
		<key>foreground_color</key>
		<string>ffffff</string>
		<key>icon_character</key>
		<string>T</string>
		<key>background_color</key>
		<string>46c0fb</string>
		<key>selected_background_color</key>
		<string>256B95</string>
	</dict>
	<key>facebook</key>
	<dict>
		<key>title</key>
		<string>facebook</string>
		<key>foreground_color</key>
		<string>ffffff</string>
		<key>icon_character</key>
		<string>f</string>
		<key>background_color</key>
		<string>4863AE</string>
		<key>selected_background_color</key>
		<string>222E5C</string>
	</dict>
	<key>amazon</key>
	<dict>
		<key>title</key>
		<string>amazon</string>
		<key>foreground_color</key>
		<string>000000</string>
		<key>icon_character</key>
		<string>a</string>
		<key>background_color</key>
		<string>ffad1d</string>
		<key>selected_background_color</key>
		<string>6C450D</string>
	</dict>
	<key>aol</key>
	<dict>
		<key>title</key>
		<string>aol</string>
		<key>foreground_color</key>
		<string>ffffff</string>
		<key>icon_character</key>
		<string>l</string>
		<key>background_color</key>
		<string>355FA7</string>
		<key>selected_background_color</key>
		<string>274575</string>
	</dict>
	<key>box</key>
	<dict>
		<key>title</key>
		<string>box</string>
		<key>foreground_color</key>
		<string>ffffff</string>
		<key>icon_character</key>
		<string>x</string>
		<key>background_color</key>
		<string>4A79B5</string>
		<key>selected_background_color</key>
		<string>36577F</string>
	</dict>
	<key>evernote</key>
	<dict>
		<key>title</key>
		<string>evernote</string>
		<key>foreground_color</key>
		<string>ffffff</string>
		<key>icon_character</key>
		<string>n</string>
		<key>background_color</key>
		<string>82B137</string>
		<key>selected_background_color</key>
		<string>5C7C29</string>
	</dict>
	<key>evernote-sandbox</key>
	<dict>
		<key>title</key>
		<string>evernote (Sanbox)</string>
		<key>foreground_color</key>
		<string>ffffff</string>
		<key>icon_character</key>
		<string>n</string>
		<key>background_color</key>
		<string>82B137</string>
		<key>selected_background_color</key>
		<string>5C7C29</string>
	</dict>
	<key>github</key>
	<dict>
		<key>title</key>
		<string>github</string>
		<key>foreground_color</key>
		<string>000000</string>
		<key>icon_character</key>
		<string>è</string>
		<key>background_color</key>
		<string>EDEDED</string>
		<key>selected_background_color</key>
		<string>A6A6A6</string>
	</dict>
	<key>instagram</key>
	<dict>
		<key>title</key>
		<string>instagram</string>
		<key>foreground_color</key>
		<string>ffffff</string>
		<key>icon_character</key>
		<string>i</string>
		<key>background_color</key>
		<string>38537A</string>
		<key>selected_background_color</key>
		<string>293C57</string>
	</dict>
	<key>miicard</key>
	<dict>
		<key>title</key>
		<string>miiCard</string>
		<key>foreground_color</key>
		<string>000000</string>
		<key>icon_character</key>
		<string>m</string>
		<key>background_color</key>
		<string>D0E9FF</string>
		<key>selected_background_color</key>
		<string>91A2B2</string>
	</dict>
	<key>paypal</key>
	<dict>
		<key>title</key>
		<string>paypal</string>
		<key>foreground_color</key>
		<string>32689A</string>
		<key>icon_character</key>
		<string>$</string>
		<key>background_color</key>
		<string>EDEDED</string>
		<key>selected_background_color</key>
		<string>A6A6A6</string>
	</dict>
	<key>salesforce</key>
	<dict>
		<key>title</key>
		<string>salesforce</string>
		<key>foreground_color</key>
		<string>F00000</string>
		<key>icon_character</key>
		<string>*</string>
		<key>background_color</key>
		<string>EDEDED</string>
		<key>selected_background_color</key>
		<string>A6A6A6</string>
	</dict>
	<key>salesforce-sandbox</key>
	<dict>
		<key>title</key>
		<string>Salesforce (Sandbox)</string>
		<key>foreground_color</key>
		<string>F00000</string>
		<key>icon_character</key>
		<string>*</string>
		<key>background_color</key>
		<string>EDEDED</string>
		<key>selected_background_color</key>
		<string>A6A6A6</string>
	</dict>
	<key>soundcloud</key>
	<dict>
		<key>title</key>
		<string>soundcloud</string>
		<key>foreground_color</key>
		<string>ffffff</string>
		<key>icon_character</key>
		<string>t</string>
		<key>background_color</key>
		<string>B23900</string>
		<key>selected_background_color</key>
		<string>9C3300</string>
	</dict>
	<key>windowslive</key>
	<dict>
		<key>title</key>
		<string>Microsoft Account</string>
		<key>foreground_color</key>
		<string>ffffff</string>
		<key>icon_character</key>
		<string>W</string>
		<key>background_color</key>
		<string>446EEB</string>
		<key>selected_background_color</key>
		<string>324FA5</string>
	</dict>
	<key>yammer</key>
	<dict>
		<key>title</key>
		<string>yammer</string>
		<key>foreground_color</key>
		<string>ffffff</string>
		<key>icon_character</key>
		<string>!</string>
		<key>background_color</key>
		<string>3C6FC5</string>
		<key>selected_background_color</key>
		<string>2B508A</string>
	</dict>
	<key>baidu</key>
	<dict>
		<key>title</key>
		<string>百度</string>
		<key>foreground_color</key>
		<string>ffffff</string>
		<key>icon_character</key>
		<string>u</string>
		<key>background_color</key>
		<string>2A2AE0</string>
		<key>selected_background_color</key>
		<string>20219C</string>
	</dict>
	<key>fitbit</key>
	<dict>
		<key>title</key>
		<string>fitbit</string>
		<key>foreground_color</key>
		<string>ffffff</string>
		<key>icon_character</key>
		<string>#</string>
		<key>background_color</key>
		<string>77C1C5</string>
		<key>selected_background_color</key>
		<string>558789</string>
	</dict>
	<key>planningcenter</key>
	<dict>
		<key>title</key>
		<string>planning center</string>
		<key>foreground_color</key>
		<string>D1D1D1</string>
		<key>icon_character</key>
		<string>y</string>
		<key>background_color</key>
		<string>4F4F4F</string>
		<key>selected_background_color</key>
		<string>3A3A3A</string>
	</dict>
	<key>renren</key>
	<dict>
		<key>title</key>
		<string>人人</string>
		<key>foreground_color</key>
		<string>ffffff</string>
		<key>icon_character</key>
		<string>r</string>
		<key>background_color</key>
		<string>2D54B4</string>
		<key>selected_background_color</key>
		<string>213E7E</string>
	</dict>
	<key>thecity</key>
	<dict>
		<key>title</key>
		<string>the city</string>
		<key>foreground_color</key>
		<string>D1D1D1</string>
		<key>icon_character</key>
		<string>c</string>
		<key>background_color</key>
		<string>757470</string>
		<key>selected_background_color</key>
		<string>535250</string>
	</dict>
	<key>thecity-sandbox</key>
	<dict>
		<key>title</key>
		<string>the city (Sandbox)</string>
		<key>foreground_color</key>
		<string>D1D1D1</string>
		<key>icon_character</key>
		<string>c</string>
		<key>background_color</key>
		<string>757470</string>
		<key>selected_background_color</key>
		<string>535250</string>
	</dict>
	<key>vkontakte</key>
	<dict>
		<key>title</key>
		<string>vkontakte</string>
		<key>foreground_color</key>
		<string>ffffff</string>
		<key>icon_character</key>
		<string>N</string>
		<key>background_color</key>
		<string>51678D</string>
		<key>selected_background_color</key>
		<string>3B4A64</string>
	</dict>
	<key>weibo</key>
	<dict>
		<key>title</key>
		<string>新浪微博</string>
		<key>foreground_color</key>
		<string>F00000</string>
		<key>icon_character</key>
		<string>S</string>
		<key>background_color</key>
		<string>F9F6F1</string>
		<key>selected_background_color</key>
		<string>ADACA7</string>
	</dict>
	<key>wordpress</key>
	<dict>
		<key>title</key>
		<string>wordpress</string>
		<key>foreground_color</key>
		<string>ffffff</string>
		<key>icon_character</key>
		<string>w</string>
		<key>background_color</key>
		<string>508ABD</string>
		<key>selected_background_color</key>
		<string>396184</string>
	</dict>
	<key>yandex</key>
	<dict>
		<key>title</key>
		<string>yandex</string>
		<key>foreground_color</key>
		<string>ffffff</string>
		<key>icon_character</key>
		<string>&amp;</string>
		<key>background_color</key>
		<string>B00000</string>
		<key>selected_background_color</key>
		<string>9A0000</string>
	</dict>
	<key>shopify</key>
	<dict>
		<key>title</key>
		<string>shopify</string>
		<key>foreground_color</key>
		<string>ffffff</string>
		<key>icon_character</key>
		<string>s</string>
		<key>background_color</key>
		<string>82B137</string>
		<key>selected_background_color</key>
		<string>5C7C29</string>
	</dict>
	<key>dwolla</key>
	<dict>
		<key>title</key>
		<string>dwolla</string>
		<key>foreground_color</key>
		<string>ffffff</string>
		<key>icon_character</key>
		<string>D</string>
		<key>background_color</key>
		<string>DE881A</string>
		<key>selected_background_color</key>
		<string>9B6014</string>
	</dict>
</dict>
</plist>
