<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Afghanistan</string>
		<key>DialCode</key>
		<string>+93</string>
		<key>Code</key>
		<string>AF</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Albania</string>
		<key>DialCode</key>
		<string>+355</string>
		<key>Code</key>
		<string>AL</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Algeria</string>
		<key>DialCode</key>
		<string>+213</string>
		<key>Code</key>
		<string>DZ</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>AmericanSamoa</string>
		<key>DialCode</key>
		<string>+1 684</string>
		<key>Code</key>
		<string>AS</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Andorra</string>
		<key>DialCode</key>
		<string>+376</string>
		<key>Code</key>
		<string>AD</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Angola</string>
		<key>DialCode</key>
		<string>+244</string>
		<key>Code</key>
		<string>AO</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Anguilla</string>
		<key>DialCode</key>
		<string>+1 264</string>
		<key>Code</key>
		<string>AI</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Antigua and Barbuda</string>
		<key>DialCode</key>
		<string>+1268</string>
		<key>Code</key>
		<string>AG</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Argentina</string>
		<key>DialCode</key>
		<string>+54</string>
		<key>Code</key>
		<string>AR</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Armenia</string>
		<key>DialCode</key>
		<string>+374</string>
		<key>Code</key>
		<string>AM</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Aruba</string>
		<key>DialCode</key>
		<string>+297</string>
		<key>Code</key>
		<string>AW</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Australia</string>
		<key>DialCode</key>
		<string>+61</string>
		<key>Code</key>
		<string>AU</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Austria</string>
		<key>DialCode</key>
		<string>+43</string>
		<key>Code</key>
		<string>AT</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Azerbaijan</string>
		<key>DialCode</key>
		<string>+994</string>
		<key>Code</key>
		<string>AZ</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bahamas</string>
		<key>DialCode</key>
		<string>+1 242</string>
		<key>Code</key>
		<string>BS</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bahrain</string>
		<key>DialCode</key>
		<string>+973</string>
		<key>Code</key>
		<string>BH</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bangladesh</string>
		<key>DialCode</key>
		<string>+880</string>
		<key>Code</key>
		<string>BD</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Barbados</string>
		<key>DialCode</key>
		<string>+1 246</string>
		<key>Code</key>
		<string>BB</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Belarus</string>
		<key>DialCode</key>
		<string>+375</string>
		<key>Code</key>
		<string>BY</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Belgium</string>
		<key>DialCode</key>
		<string>+32</string>
		<key>Code</key>
		<string>BE</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Belize</string>
		<key>DialCode</key>
		<string>+501</string>
		<key>Code</key>
		<string>BZ</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Benin</string>
		<key>DialCode</key>
		<string>+229</string>
		<key>Code</key>
		<string>BJ</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bermuda</string>
		<key>DialCode</key>
		<string>+1 441</string>
		<key>Code</key>
		<string>BM</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bhutan</string>
		<key>DialCode</key>
		<string>+975</string>
		<key>Code</key>
		<string>BT</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bosnia and Herzegovina</string>
		<key>DialCode</key>
		<string>+387</string>
		<key>Code</key>
		<string>BA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Botswana</string>
		<key>DialCode</key>
		<string>+267</string>
		<key>Code</key>
		<string>BW</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Brazil</string>
		<key>DialCode</key>
		<string>+55</string>
		<key>Code</key>
		<string>BR</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>British Indian Ocean Territory</string>
		<key>DialCode</key>
		<string>+246</string>
		<key>Code</key>
		<string>IO</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bulgaria</string>
		<key>DialCode</key>
		<string>+359</string>
		<key>Code</key>
		<string>BG</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Burkina Faso</string>
		<key>DialCode</key>
		<string>+226</string>
		<key>Code</key>
		<string>BF</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Burundi</string>
		<key>DialCode</key>
		<string>+257</string>
		<key>Code</key>
		<string>BI</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cambodia</string>
		<key>DialCode</key>
		<string>+855</string>
		<key>Code</key>
		<string>KH</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cameroon</string>
		<key>DialCode</key>
		<string>+237</string>
		<key>Code</key>
		<string>CM</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Canada</string>
		<key>DialCode</key>
		<string>+1</string>
		<key>Code</key>
		<string>CA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cape Verde</string>
		<key>DialCode</key>
		<string>+238</string>
		<key>Code</key>
		<string>CV</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cayman Islands</string>
		<key>DialCode</key>
		<string>+ 345</string>
		<key>Code</key>
		<string>KY</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Central African Republic</string>
		<key>DialCode</key>
		<string>+236</string>
		<key>Code</key>
		<string>CF</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Chad</string>
		<key>DialCode</key>
		<string>+235</string>
		<key>Code</key>
		<string>TD</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Chile</string>
		<key>DialCode</key>
		<string>+56</string>
		<key>Code</key>
		<string>CL</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>China</string>
		<key>DialCode</key>
		<string>+86</string>
		<key>Code</key>
		<string>CN</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Christmas Island</string>
		<key>DialCode</key>
		<string>+61</string>
		<key>Code</key>
		<string>CX</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Colombia</string>
		<key>DialCode</key>
		<string>+57</string>
		<key>Code</key>
		<string>CO</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Comoros</string>
		<key>DialCode</key>
		<string>+269</string>
		<key>Code</key>
		<string>KM</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Congo</string>
		<key>DialCode</key>
		<string>+242</string>
		<key>Code</key>
		<string>CG</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cook Islands</string>
		<key>DialCode</key>
		<string>+682</string>
		<key>Code</key>
		<string>CK</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Costa Rica</string>
		<key>DialCode</key>
		<string>+506</string>
		<key>Code</key>
		<string>CR</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Croatia</string>
		<key>DialCode</key>
		<string>+385</string>
		<key>Code</key>
		<string>HR</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cuba</string>
		<key>DialCode</key>
		<string>+53</string>
		<key>Code</key>
		<string>CU</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cyprus</string>
		<key>DialCode</key>
		<string>+537</string>
		<key>Code</key>
		<string>CY</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Czech Republic</string>
		<key>DialCode</key>
		<string>+420</string>
		<key>Code</key>
		<string>CZ</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Denmark</string>
		<key>DialCode</key>
		<string>+45</string>
		<key>Code</key>
		<string>DK</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Djibouti</string>
		<key>DialCode</key>
		<string>+253</string>
		<key>Code</key>
		<string>DJ</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dominica</string>
		<key>DialCode</key>
		<string>+1 767</string>
		<key>Code</key>
		<string>DM</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dominican Republic</string>
		<key>DialCode</key>
		<string>+1 849</string>
		<key>Code</key>
		<string>DO</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ecuador</string>
		<key>DialCode</key>
		<string>+593</string>
		<key>Code</key>
		<string>EC</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Egypt</string>
		<key>DialCode</key>
		<string>+20</string>
		<key>Code</key>
		<string>EG</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>El Salvador</string>
		<key>DialCode</key>
		<string>+503</string>
		<key>Code</key>
		<string>SV</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Equatorial Guinea</string>
		<key>DialCode</key>
		<string>+240</string>
		<key>Code</key>
		<string>GQ</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Eritrea</string>
		<key>DialCode</key>
		<string>+291</string>
		<key>Code</key>
		<string>ER</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Estonia</string>
		<key>DialCode</key>
		<string>+372</string>
		<key>Code</key>
		<string>EE</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ethiopia</string>
		<key>DialCode</key>
		<string>+251</string>
		<key>Code</key>
		<string>ET</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Faroe Islands</string>
		<key>DialCode</key>
		<string>+298</string>
		<key>Code</key>
		<string>FO</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Fiji</string>
		<key>DialCode</key>
		<string>+679</string>
		<key>Code</key>
		<string>FJ</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Finland</string>
		<key>DialCode</key>
		<string>+358</string>
		<key>Code</key>
		<string>FI</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>France</string>
		<key>DialCode</key>
		<string>+33</string>
		<key>Code</key>
		<string>FR</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>French Guiana</string>
		<key>DialCode</key>
		<string>+594</string>
		<key>Code</key>
		<string>GF</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>French Polynesia</string>
		<key>DialCode</key>
		<string>+689</string>
		<key>Code</key>
		<string>PF</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Gabon</string>
		<key>DialCode</key>
		<string>+241</string>
		<key>Code</key>
		<string>GA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Gambia</string>
		<key>DialCode</key>
		<string>+220</string>
		<key>Code</key>
		<string>GM</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Georgia</string>
		<key>DialCode</key>
		<string>+995</string>
		<key>Code</key>
		<string>GE</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Germany</string>
		<key>DialCode</key>
		<string>+49</string>
		<key>Code</key>
		<string>DE</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ghana</string>
		<key>DialCode</key>
		<string>+233</string>
		<key>Code</key>
		<string>GH</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Gibraltar</string>
		<key>DialCode</key>
		<string>+350</string>
		<key>Code</key>
		<string>GI</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Greece</string>
		<key>DialCode</key>
		<string>+30</string>
		<key>Code</key>
		<string>GR</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Greenland</string>
		<key>DialCode</key>
		<string>+299</string>
		<key>Code</key>
		<string>GL</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Grenada</string>
		<key>DialCode</key>
		<string>+1 473</string>
		<key>Code</key>
		<string>GD</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Guadeloupe</string>
		<key>DialCode</key>
		<string>+590</string>
		<key>Code</key>
		<string>GP</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Guam</string>
		<key>DialCode</key>
		<string>+1 671</string>
		<key>Code</key>
		<string>GU</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Guatemala</string>
		<key>DialCode</key>
		<string>+502</string>
		<key>Code</key>
		<string>GT</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Guinea</string>
		<key>DialCode</key>
		<string>+224</string>
		<key>Code</key>
		<string>GN</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Guinea-Bissau</string>
		<key>DialCode</key>
		<string>+245</string>
		<key>Code</key>
		<string>GW</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Guyana</string>
		<key>DialCode</key>
		<string>+595</string>
		<key>Code</key>
		<string>GY</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Haiti</string>
		<key>DialCode</key>
		<string>+509</string>
		<key>Code</key>
		<string>HT</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Honduras</string>
		<key>DialCode</key>
		<string>+504</string>
		<key>Code</key>
		<string>HN</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Hungary</string>
		<key>DialCode</key>
		<string>+36</string>
		<key>Code</key>
		<string>HU</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Iceland</string>
		<key>DialCode</key>
		<string>+354</string>
		<key>Code</key>
		<string>IS</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>India</string>
		<key>DialCode</key>
		<string>+91</string>
		<key>Code</key>
		<string>IN</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Indonesia</string>
		<key>DialCode</key>
		<string>+62</string>
		<key>Code</key>
		<string>ID</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Iraq</string>
		<key>DialCode</key>
		<string>+964</string>
		<key>Code</key>
		<string>IQ</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ireland</string>
		<key>DialCode</key>
		<string>+353</string>
		<key>Code</key>
		<string>IE</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Israel</string>
		<key>DialCode</key>
		<string>+972</string>
		<key>Code</key>
		<string>IL</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Italy</string>
		<key>DialCode</key>
		<string>+39</string>
		<key>Code</key>
		<string>IT</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Jamaica</string>
		<key>DialCode</key>
		<string>+1 876</string>
		<key>Code</key>
		<string>JM</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Japan</string>
		<key>DialCode</key>
		<string>+81</string>
		<key>Code</key>
		<string>JP</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Jordan</string>
		<key>DialCode</key>
		<string>+962</string>
		<key>Code</key>
		<string>JO</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Kazakhstan</string>
		<key>DialCode</key>
		<string>+7 7</string>
		<key>Code</key>
		<string>KZ</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Kenya</string>
		<key>DialCode</key>
		<string>+254</string>
		<key>Code</key>
		<string>KE</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Kiribati</string>
		<key>DialCode</key>
		<string>+686</string>
		<key>Code</key>
		<string>KI</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Kuwait</string>
		<key>DialCode</key>
		<string>+965</string>
		<key>Code</key>
		<string>KW</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Kyrgyzstan</string>
		<key>DialCode</key>
		<string>+996</string>
		<key>Code</key>
		<string>KG</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Latvia</string>
		<key>DialCode</key>
		<string>+371</string>
		<key>Code</key>
		<string>LV</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Lebanon</string>
		<key>DialCode</key>
		<string>+961</string>
		<key>Code</key>
		<string>LB</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Lesotho</string>
		<key>DialCode</key>
		<string>+266</string>
		<key>Code</key>
		<string>LS</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Liberia</string>
		<key>DialCode</key>
		<string>+231</string>
		<key>Code</key>
		<string>LR</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Liechtenstein</string>
		<key>DialCode</key>
		<string>+423</string>
		<key>Code</key>
		<string>LI</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Lithuania</string>
		<key>DialCode</key>
		<string>+370</string>
		<key>Code</key>
		<string>LT</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Luxembourg</string>
		<key>DialCode</key>
		<string>+352</string>
		<key>Code</key>
		<string>LU</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Madagascar</string>
		<key>DialCode</key>
		<string>+261</string>
		<key>Code</key>
		<string>MG</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Malawi</string>
		<key>DialCode</key>
		<string>+265</string>
		<key>Code</key>
		<string>MW</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Malaysia</string>
		<key>DialCode</key>
		<string>+60</string>
		<key>Code</key>
		<string>MY</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Maldives</string>
		<key>DialCode</key>
		<string>+960</string>
		<key>Code</key>
		<string>MV</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mali</string>
		<key>DialCode</key>
		<string>+223</string>
		<key>Code</key>
		<string>ML</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Malta</string>
		<key>DialCode</key>
		<string>+356</string>
		<key>Code</key>
		<string>MT</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Marshall Islands</string>
		<key>DialCode</key>
		<string>+692</string>
		<key>Code</key>
		<string>MH</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Martinique</string>
		<key>DialCode</key>
		<string>+596</string>
		<key>Code</key>
		<string>MQ</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mauritania</string>
		<key>DialCode</key>
		<string>+222</string>
		<key>Code</key>
		<string>MR</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mauritius</string>
		<key>DialCode</key>
		<string>+230</string>
		<key>Code</key>
		<string>MU</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mayotte</string>
		<key>DialCode</key>
		<string>+262</string>
		<key>Code</key>
		<string>YT</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mexico</string>
		<key>DialCode</key>
		<string>+52</string>
		<key>Code</key>
		<string>MX</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Monaco</string>
		<key>DialCode</key>
		<string>+377</string>
		<key>Code</key>
		<string>MC</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mongolia</string>
		<key>DialCode</key>
		<string>+976</string>
		<key>Code</key>
		<string>MN</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Montenegro</string>
		<key>DialCode</key>
		<string>+382</string>
		<key>Code</key>
		<string>ME</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Montserrat</string>
		<key>DialCode</key>
		<string>+1664</string>
		<key>Code</key>
		<string>MS</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Morocco</string>
		<key>DialCode</key>
		<string>+212</string>
		<key>Code</key>
		<string>MA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Myanmar</string>
		<key>DialCode</key>
		<string>+95</string>
		<key>Code</key>
		<string>MM</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Namibia</string>
		<key>DialCode</key>
		<string>+264</string>
		<key>Code</key>
		<string>NA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Nauru</string>
		<key>DialCode</key>
		<string>+674</string>
		<key>Code</key>
		<string>NR</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Nepal</string>
		<key>DialCode</key>
		<string>+977</string>
		<key>Code</key>
		<string>NP</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Netherlands</string>
		<key>DialCode</key>
		<string>+31</string>
		<key>Code</key>
		<string>NL</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Netherlands Antilles</string>
		<key>DialCode</key>
		<string>+599</string>
		<key>Code</key>
		<string>AN</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>New Caledonia</string>
		<key>DialCode</key>
		<string>+687</string>
		<key>Code</key>
		<string>NC</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>New Zealand</string>
		<key>DialCode</key>
		<string>+64</string>
		<key>Code</key>
		<string>NZ</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Nicaragua</string>
		<key>DialCode</key>
		<string>+505</string>
		<key>Code</key>
		<string>NI</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Niger</string>
		<key>DialCode</key>
		<string>+227</string>
		<key>Code</key>
		<string>NE</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Nigeria</string>
		<key>DialCode</key>
		<string>+234</string>
		<key>Code</key>
		<string>NG</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Niue</string>
		<key>DialCode</key>
		<string>+683</string>
		<key>Code</key>
		<string>NU</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Norfolk Island</string>
		<key>DialCode</key>
		<string>+672</string>
		<key>Code</key>
		<string>NF</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Northern Mariana Islands</string>
		<key>DialCode</key>
		<string>+1 670</string>
		<key>Code</key>
		<string>MP</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Norway</string>
		<key>DialCode</key>
		<string>+47</string>
		<key>Code</key>
		<string>NO</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Oman</string>
		<key>DialCode</key>
		<string>+968</string>
		<key>Code</key>
		<string>OM</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Pakistan</string>
		<key>DialCode</key>
		<string>+92</string>
		<key>Code</key>
		<string>PK</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Palau</string>
		<key>DialCode</key>
		<string>+680</string>
		<key>Code</key>
		<string>PW</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Panama</string>
		<key>DialCode</key>
		<string>+507</string>
		<key>Code</key>
		<string>PA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Papua New Guinea</string>
		<key>DialCode</key>
		<string>+675</string>
		<key>Code</key>
		<string>PG</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Paraguay</string>
		<key>DialCode</key>
		<string>+595</string>
		<key>Code</key>
		<string>PY</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Peru</string>
		<key>DialCode</key>
		<string>+51</string>
		<key>Code</key>
		<string>PE</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Philippines</string>
		<key>DialCode</key>
		<string>+63</string>
		<key>Code</key>
		<string>PH</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Poland</string>
		<key>DialCode</key>
		<string>+48</string>
		<key>Code</key>
		<string>PL</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Portugal</string>
		<key>DialCode</key>
		<string>+351</string>
		<key>Code</key>
		<string>PT</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Puerto Rico</string>
		<key>DialCode</key>
		<string>+1 939</string>
		<key>Code</key>
		<string>PR</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Qatar</string>
		<key>DialCode</key>
		<string>+974</string>
		<key>Code</key>
		<string>QA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Romania</string>
		<key>DialCode</key>
		<string>+40</string>
		<key>Code</key>
		<string>RO</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Rwanda</string>
		<key>DialCode</key>
		<string>+250</string>
		<key>Code</key>
		<string>RW</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Samoa</string>
		<key>DialCode</key>
		<string>+685</string>
		<key>Code</key>
		<string>WS</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>San Marino</string>
		<key>DialCode</key>
		<string>+378</string>
		<key>Code</key>
		<string>SM</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Saudi Arabia</string>
		<key>DialCode</key>
		<string>+966</string>
		<key>Code</key>
		<string>SA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Senegal</string>
		<key>DialCode</key>
		<string>+221</string>
		<key>Code</key>
		<string>SN</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Serbia</string>
		<key>DialCode</key>
		<string>+381</string>
		<key>Code</key>
		<string>RS</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Seychelles</string>
		<key>DialCode</key>
		<string>+248</string>
		<key>Code</key>
		<string>SC</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Sierra Leone</string>
		<key>DialCode</key>
		<string>+232</string>
		<key>Code</key>
		<string>SL</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Singapore</string>
		<key>DialCode</key>
		<string>+65</string>
		<key>Code</key>
		<string>SG</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Slovakia</string>
		<key>DialCode</key>
		<string>+421</string>
		<key>Code</key>
		<string>SK</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Slovenia</string>
		<key>DialCode</key>
		<string>+386</string>
		<key>Code</key>
		<string>SI</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Solomon Islands</string>
		<key>DialCode</key>
		<string>+677</string>
		<key>Code</key>
		<string>SB</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>South Africa</string>
		<key>DialCode</key>
		<string>+27</string>
		<key>Code</key>
		<string>ZA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>South Georgia and the South Sandwich Islands</string>
		<key>DialCode</key>
		<string>+500</string>
		<key>Code</key>
		<string>GS</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Spain</string>
		<key>DialCode</key>
		<string>+34</string>
		<key>Code</key>
		<string>ES</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Sri Lanka</string>
		<key>DialCode</key>
		<string>+94</string>
		<key>Code</key>
		<string>LK</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Sudan</string>
		<key>DialCode</key>
		<string>+249</string>
		<key>Code</key>
		<string>SD</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Suriname</string>
		<key>DialCode</key>
		<string>+597</string>
		<key>Code</key>
		<string>SR</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Swaziland</string>
		<key>DialCode</key>
		<string>+268</string>
		<key>Code</key>
		<string>SZ</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Sweden</string>
		<key>DialCode</key>
		<string>+46</string>
		<key>Code</key>
		<string>SE</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Switzerland</string>
		<key>DialCode</key>
		<string>+41</string>
		<key>Code</key>
		<string>CH</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Tajikistan</string>
		<key>DialCode</key>
		<string>+992</string>
		<key>Code</key>
		<string>TJ</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Thailand</string>
		<key>DialCode</key>
		<string>+66</string>
		<key>Code</key>
		<string>TH</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Togo</string>
		<key>DialCode</key>
		<string>+228</string>
		<key>Code</key>
		<string>TG</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Tokelau</string>
		<key>DialCode</key>
		<string>+690</string>
		<key>Code</key>
		<string>TK</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Tonga</string>
		<key>DialCode</key>
		<string>+676</string>
		<key>Code</key>
		<string>TO</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Trinidad and Tobago</string>
		<key>DialCode</key>
		<string>+1 868</string>
		<key>Code</key>
		<string>TT</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Tunisia</string>
		<key>DialCode</key>
		<string>+216</string>
		<key>Code</key>
		<string>TN</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Turkey</string>
		<key>DialCode</key>
		<string>+90</string>
		<key>Code</key>
		<string>TR</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Turkmenistan</string>
		<key>DialCode</key>
		<string>+993</string>
		<key>Code</key>
		<string>TM</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Turks and Caicos Islands</string>
		<key>DialCode</key>
		<string>+1 649</string>
		<key>Code</key>
		<string>TC</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Tuvalu</string>
		<key>DialCode</key>
		<string>+688</string>
		<key>Code</key>
		<string>TV</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Uganda</string>
		<key>DialCode</key>
		<string>+256</string>
		<key>Code</key>
		<string>UG</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ukraine</string>
		<key>DialCode</key>
		<string>+380</string>
		<key>Code</key>
		<string>UA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>United Arab Emirates</string>
		<key>DialCode</key>
		<string>+971</string>
		<key>Code</key>
		<string>AE</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>United Kingdom</string>
		<key>DialCode</key>
		<string>+44</string>
		<key>Code</key>
		<string>GB</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>United States</string>
		<key>DialCode</key>
		<string>+1</string>
		<key>Code</key>
		<string>US</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Uruguay</string>
		<key>DialCode</key>
		<string>+598</string>
		<key>Code</key>
		<string>UY</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Uzbekistan</string>
		<key>DialCode</key>
		<string>+998</string>
		<key>Code</key>
		<string>UZ</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Vanuatu</string>
		<key>DialCode</key>
		<string>+678</string>
		<key>Code</key>
		<string>VU</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Wallis and Futuna</string>
		<key>DialCode</key>
		<string>+681</string>
		<key>Code</key>
		<string>WF</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Yemen</string>
		<key>DialCode</key>
		<string>+967</string>
		<key>Code</key>
		<string>YE</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Zambia</string>
		<key>DialCode</key>
		<string>+260</string>
		<key>Code</key>
		<string>ZM</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Zimbabwe</string>
		<key>DialCode</key>
		<string>+263</string>
		<key>Code</key>
		<string>ZW</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Åland Islands</string>
		<key>DialCode</key>
		<string>+358</string>
		<key>Code</key>
		<string>AX</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bolivia, Plurinational State of</string>
		<key>DialCode</key>
		<string>+591</string>
		<key>Code</key>
		<string>BO</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Brunei Darussalam</string>
		<key>DialCode</key>
		<string>+673</string>
		<key>Code</key>
		<string>BN</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cocos (Keeling) Islands</string>
		<key>DialCode</key>
		<string>+61</string>
		<key>Code</key>
		<string>CC</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Congo, The Democratic Republic of the</string>
		<key>DialCode</key>
		<string>+243</string>
		<key>Code</key>
		<string>CD</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cote d&apos;Ivoire</string>
		<key>DialCode</key>
		<string>+225</string>
		<key>Code</key>
		<string>CI</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Falkland Islands (Malvinas)</string>
		<key>DialCode</key>
		<string>+500</string>
		<key>Code</key>
		<string>FK</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Guernsey</string>
		<key>DialCode</key>
		<string>+44</string>
		<key>Code</key>
		<string>GG</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Holy See (Vatican City State)</string>
		<key>DialCode</key>
		<string>+379</string>
		<key>Code</key>
		<string>VA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Hong Kong</string>
		<key>DialCode</key>
		<string>+852</string>
		<key>Code</key>
		<string>HK</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Iran, Islamic Republic of</string>
		<key>DialCode</key>
		<string>+98</string>
		<key>Code</key>
		<string>IR</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Isle of Man</string>
		<key>DialCode</key>
		<string>+44</string>
		<key>Code</key>
		<string>IM</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Jersey</string>
		<key>DialCode</key>
		<string>+44</string>
		<key>Code</key>
		<string>JE</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Korea, Democratic People&apos;s Republic of</string>
		<key>DialCode</key>
		<string>+850</string>
		<key>Code</key>
		<string>KP</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Korea, Republic of</string>
		<key>DialCode</key>
		<string>+82</string>
		<key>Code</key>
		<string>KR</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Lao People&apos;s Democratic Republic</string>
		<key>DialCode</key>
		<string>+856</string>
		<key>Code</key>
		<string>LA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Libyan Arab Jamahiriya</string>
		<key>DialCode</key>
		<string>+218</string>
		<key>Code</key>
		<string>LY</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Macao</string>
		<key>DialCode</key>
		<string>+853</string>
		<key>Code</key>
		<string>MO</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Macedonia, The Former Yugoslav Republic of</string>
		<key>DialCode</key>
		<string>+389</string>
		<key>Code</key>
		<string>MK</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Micronesia, Federated States of</string>
		<key>DialCode</key>
		<string>+691</string>
		<key>Code</key>
		<string>FM</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Moldova, Republic of</string>
		<key>DialCode</key>
		<string>+373</string>
		<key>Code</key>
		<string>MD</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mozambique</string>
		<key>DialCode</key>
		<string>+258</string>
		<key>Code</key>
		<string>MZ</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Palestinian Territory, Occupied</string>
		<key>DialCode</key>
		<string>+970</string>
		<key>Code</key>
		<string>PS</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Pitcairn</string>
		<key>DialCode</key>
		<string>+872</string>
		<key>Code</key>
		<string>PN</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Réunion</string>
		<key>DialCode</key>
		<string>+262</string>
		<key>Code</key>
		<string>RE</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Russia</string>
		<key>DialCode</key>
		<string>+7</string>
		<key>Code</key>
		<string>RU</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Saint Barthélemy</string>
		<key>DialCode</key>
		<string>+590</string>
		<key>Code</key>
		<string>BL</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Saint Helena, Ascension and Tristan Da Cunha</string>
		<key>DialCode</key>
		<string>+290</string>
		<key>Code</key>
		<string>SH</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Saint Kitts and Nevis</string>
		<key>DialCode</key>
		<string>+1 869</string>
		<key>Code</key>
		<string>KN</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Saint Lucia</string>
		<key>DialCode</key>
		<string>+1 758</string>
		<key>Code</key>
		<string>LC</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Saint Martin</string>
		<key>DialCode</key>
		<string>+590</string>
		<key>Code</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Saint Pierre and Miquelon</string>
		<key>DialCode</key>
		<string>+508</string>
		<key>Code</key>
		<string>PM</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Saint Vincent and the Grenadines</string>
		<key>DialCode</key>
		<string>+1 784</string>
		<key>Code</key>
		<string>VC</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Sao Tome and Principe</string>
		<key>DialCode</key>
		<string>+239</string>
		<key>Code</key>
		<string>ST</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Somalia</string>
		<key>DialCode</key>
		<string>+252</string>
		<key>Code</key>
		<string>SO</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Svalbard and Jan Mayen</string>
		<key>DialCode</key>
		<string>+47</string>
		<key>Code</key>
		<string>SJ</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Syrian Arab Republic</string>
		<key>DialCode</key>
		<string>+963</string>
		<key>Code</key>
		<string>SY</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Taiwan, Province of China</string>
		<key>DialCode</key>
		<string>+886</string>
		<key>Code</key>
		<string>TW</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Tanzania, United Republic of</string>
		<key>DialCode</key>
		<string>+255</string>
		<key>Code</key>
		<string>TZ</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Timor-Leste</string>
		<key>DialCode</key>
		<string>+670</string>
		<key>Code</key>
		<string>TL</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Venezuela, Bolivarian Republic of</string>
		<key>DialCode</key>
		<string>+58</string>
		<key>Code</key>
		<string>VE</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Viet Nam</string>
		<key>DialCode</key>
		<string>+84</string>
		<key>Code</key>
		<string>VN</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Virgin Islands, British</string>
		<key>DialCode</key>
		<string>+1 284</string>
		<key>Code</key>
		<string>VG</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Virgin Islands, U.S.</string>
		<key>DialCode</key>
		<string>+1 340</string>
		<key>Code</key>
		<string>VI</string>
	</dict>
</array>
</plist>
